@inherits LayoutComponentBase

<div class="page">
    <header class="top-nav">
        <div class="container">
            <div class="logo">リアルタイムアンケート</div>
            <NavMenu />
        </div>
    </header>

    <main class="container">
        <article class="content">
            @Body
        </article>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <a href="https://www.jtechs.com/japan/" target="_blank">会社概要</a>
            </div>
        </div>
    </footer>
</div>

<div id="blazor-error-ui">
    エラーが発生しました。
    <a href="" class="reload">再読み込み</a>
    <a class="dismiss">🗙</a>
</div>
