﻿<nav class="navbar">
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass">
        <ul class="nav-links">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="icon icon-home" aria-hidden="true"></span> ホーム
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="questionair">
                    <span class="icon icon-survey" aria-hidden="true"></span> アンケート
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
